<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit"/>
    <title>blog_index</title>
    <meta name="keywords" content="Susan's blog">
    <meta name="description" content="Susan's blog">
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/jquery-1.8.3.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/base.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.slides.min.js}" type="text/javascript"></script>
</head>
<body>

<div class="head_box">
    <div class="header">
        <div class="header_logo">
            <a th:href="@{/}"><h2>Susan's blog|</h2><h4>Enjoy life.</h4></a>
        </div>
        <div class="header_nav">
            <ul class="clearfix">
                <li><a th:href="@{/addArticle}">Add Article</a></li>
                <li><a th:href="@{/editArticle}">Edit Article</a>
                </li>
                <li>
                    <a th:href="@{/deleteArticle}">Delete Article</a>
                </li>
                <li><a th:href="@{/editAbout}">Edit About Me</a></li>
            </ul>
        </div>
    </div>

    <div class="addArticle">
        <form th:action="@{/article/add}" th:object="${Article}"  method="post">
            <div>
                <label>title</label>
                <input type="text" th:field="*{title}" name="title" placeholder="please input title">
            </div>

            <div>
                <label>induction</label>
                <input type="text" th:field="*{induction}" name="induction" placeholder="please input induction">
            </div>

            <div>
                <label>content</label>
                <input type="text" th:field="*{content}" name="content" placeholder="please input content">
            </div>

            <div>
                <label>column</label>
                <input type="text"   th:field="*{column}" name="column" placeholder="please input column">
            </div>

            <div>
                <button>submit</button>
            </div>

        </form>
    </div>

</div>
</body>
</html>